<div class="row justify-content-center align-content-center">
  <div class="col-9">
    <mat-card class="mat-elevation-z5">
      <mat-card-header class="justify-content-center">
        <mat-card-title>
          ¡Welcome!
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          This web contains some projects i always want to display on
          web. Thanks to Github Pages i can show here my work, or just
          some of it.
        </p>
        <p>
          You can choose what to use. Consider that because of server cost
          all information is stored locally. So no one can access to you're
          data. Not even me.
        </p>
        <h2 style="text-align: center">
          Have some fun!
        </h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row justify-content-center align-content-center">
  <div class="col-9">
    <mat-card class="mat-elevation-z3">
      <mat-card-header>
        <mat-card-title>
          Applications:
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-selection-list>
          <mat-list-option (click)="onOptionClick('/notes/dashboard')">Notes App</mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
